<div class="row justify-content-md-center">
    <!-- list -->
    <div class="col-8">
        <h1> {{ title }} </h1>
        <ul class="list-group">
            <li class="list-group-item justify-content-between handCursor" 
                *ngFor="let photographer of photographers" [class.active]="photographer === photoSelected" (click)="onSelect(photographer)">
                <span>{{ photographer.name }}</span>
                <span class="badge badge-default badge-pill">{{ photographer.id }}</span>
            </li>
        </ul>
    </div>

    <!-- cards -->
    <div class="col-4">
        <div *ngIf = "photoSelected" class="card" style="width: 14rem;">
            <img class="card-img-top" src="{{ photoSelected.image }}" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">{{ photoSelected.name }}</h4>
                <p class="card-text">{{ photoSelected.bio }}</p>
                <a href="#" class="btn btn-primary">{{ photoSelected.id }}</a>
            </div>
        </div>
    </div>
</div>


