<div class="container">
  <div class="row justify-content-bg-center text-center">
      <div class="col-12 mt-5">
        <button type="button" class="btn btn-primary handCursor" routerLink="/photolist">Get a Photographer's List</button>
      </div>
  </div>

  <div class="container mt-5">
    <router-outlet></router-outlet> 
  </div>
</div>  